body {
    max-width: 1440px;
    margin:0;
    background: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 50px 150px 0px 150px;
}
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li, .Acontact, .Aprojets, .aLogin {
    font-family:"Work Sans";
    font-weight:400;
    line-height: 19px;
	padding: 0 10px;
	font-size: 16px;
    color:black;
}
li:hover, .aLogin:hover, .Acontact:hover, .Aprojets:hover, .Amodifier:hover {
	color: #B1663C;
}
.aLogin, .Acontact, .Aprojets, .Amodifier{
	text-decoration: none;
	color:black;
}
#formLog {
    display:flex;
    flex-direction: column;
}
section {
    margin: 162px auto 355px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
input{
    width:379px;
    height:51px;
    background: white;
    box-shadow:0px 4px 14px rgba(0, 0, 0, 0.09);
    border:none;
}
.submit {
    font-family: "Syne";
    font-weight: 700;
    line-height:17px;
    font-size: 14px;
    color:white;
    background: #1D6154;
    margin:2em auto; 
    width:180px;
    border-radius:60px;
    text-align: center;
    border:none;
}
a, label {
    font-family:"Work Sans";
    font-weight: 500;
    font-size:14px;
    line-height:16px;
    color:#3D3D3D;
}
a {
    text-align: center;
}
label {
    padding-top:30px;
    padding-bottom:7px;
}
.erreurLog {
    position:relative;
    margin-top: 10px;
    font-family:"Work Sans";
    font-weight: 500;
    font-size:14px;
    line-height:16px;
    color:red;
    width:379px;
    justify-content: center;
    display:none;
}
footer nav ul {
    font-family:"Work Sans";
    font-weight:300;
    font-size:14px;
    line-height:16px;
    color:black;
    width:97%;
    margin:0;
	display: flex;
	justify-content: flex-end;
    background: white;
}
footer nav ul li {
    padding:24px 107px 20px;
}



