body {
    max-width: 100%;
    margin:0;
    background: #FFFEF8;
    padding-left:7%;
    padding-right:7%;
}
header {
	margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1 {
    width:20%;
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}
h1 > span {
    width:100%;
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2 {
    width:25%;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
    text-align:center;
}
.navHeader {
    display:block;
}
.navHeader ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
.navHeader ul li {
    font-family:"Work Sans";
    font-weight:400;
    line-height: 19px;
	padding: 0 10px;
	font-size: 16px;
    color:black;
}
.aLogin:hover, .Acontact:hover, .Aprojets:hover, .aFooter:hover, .aMDP:hover {
	color: #B1663C;
}
.aLogin, .Acontact, .Aprojets {
	text-decoration: none;
	color:black;
}
#formLog {
    width:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
section {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
input {
    width:98%;
    height:51px;
    background: white;
    box-shadow:0px 4px 14px rgba(0, 0, 0, 0.09);
    border:none;
}
.submit {
    font-family: "Syne";
    font-weight: 700;
    line-height:17px;
    font-size: 14px;
    color:white;
    background: #1D6154;
    margin-top:2em; 
    margin-bottom:2em;
    width:150px;
    border-radius:60px;
    text-align: center;
    border:none;
}
a, label {
    width:100%;
    font-family:"Work Sans";
    font-weight: 500;
    font-size:14px;
    line-height:16px;
    color:#3D3D3D;
}
a {
    width:100%;
    text-align: center;
}
label {
    padding-top:30px;
    padding-bottom:7px;
}
.erreurLog {
    position:relative;
    margin-top: 10px;
    font-family:"Work Sans";
    font-weight: 500;
    font-size:14px;
    line-height:16px;
    color:red;
    width:100%;
    justify-content: center;
    display:none;
}
footer {
    display:flex;
    justify-content: flex-end;
}
.navFooter {
    display:flex;
    justify-content: flex-end;
    width:20%;
}
footer .navFooter ul {
    font-family:"Work Sans";
    font-weight:300;
    font-size:14px;
    line-height:16px;
    color:black;
    width:60%;
	display: flex;
	justify-content: flex-end;
    background: white;
}
footer .navFooter ul li {
    display:flex;
    justify-content: flex-end;
    width:100%;
    padding:24px 0% 20px;
}
.aFooter {
    width:100%;
}



